body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}
.mat-app-background {
  background-color: black;
  color: white;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: rgb(212, 212, 212);
}
html, body {
  height: 100%;
}
