body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}
.mat-app-background {
  background-color: black;
  color: white;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgb(212, 212, 212);
}
html,
body {
  height: 100%;
}

.true {
  color: goldenrod;
}
.false {
  color: red;
}

.mat-mdc-form-field,
app-members {
  &.ng-untouched .untouched,
  &.ng-pristine .pristine,
  &.ng-valid .valid {
    color: goldenrod;
  }
  &.ng-touched .untouched,
  &.ng-dirty .pristine,
  &.ng-invalid .valid {
    color: red;
  }
}

.example-controls {
  &.ng-untouched .form-states .untouched,
  &.ng-pristine .form-states .pristine,
  &.ng-valid .form-states .valid {
    color: goldenrod;
  }

  &.ng-touched .form-states .untouched,
  &.ng-dirty .form-states .pristine,
  &.ng-invalid .form-states .valid {
    color: red;
  }
}
