<button mat-raised-button type="button" color="primary" (click)="addMember()">
  Add
</button>
<ul>
 <li
    *ngFor="let member of members.controls; let i = index; trackBy: trackByFn"
  >
  <app-member-form [formControl]="member" (blur)="onTouched()"></app-member-form>
  <button mat-raised-button type="button" color="warn" (click)="removeMember(i)">remove</button> &nbsp;
  </li>
</ul>
<mat-hint class="control-states">
  <mat-icon class="valid">fact_check</mat-icon>
  <mat-icon class="untouched">fingerprint</mat-icon>
  <mat-icon class="pristine">auto_awesome</mat-icon>
</mat-hint>
<mat-hint>{{members.errors | json}}</mat-hint>
